body {
    padding-top: 40px;
}

.welcome {
    font-size: 18px;
    display: inline;
    padding: 5px;
}

.modal {
    width: 50%; /* respsonsive width */
    /* To center horizontally */
    margin: 0 auto;
    padding-top: 150px;
}